{
  "asterisk_host": "127.0.0.1",
  "asterisk_port": "8090",
  "asterisk_login": "asterisk",
  "asterisk_password": "asterisk",
  "app": "callpy",
  "media_service_host": "127.0.0.1",
  "media_service_port": "8999",
  "media_service_recv_from_size": 1024
}